@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
    ViewData["Title"] = "Kategoriler";
}
<div class="card w-100">
	<div class="card-body">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Kategori Adı</th>
					<th scope="col">Ürünler</th>
					<th scope="col">Veritabanı İşlemleri</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Mark</td>
					<td>Otto</td>
					<td>mdo</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>fat</td>
				</tr>
				<tr>
					<td>3</td>
					<td colspan="2">Larry the Bird</td>
					<td>twitter</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>